doctype
html
  head
    title= (typeof(title) == 'undefined' ? "" : title)
    //- link(rel='stylesheet', href='/styles/bootstrap.css')
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    //- link(rel='stylesheet', href='/styles/style.css')
    link(type="image/png", rel="apple-touch-icon", href="https://s.chromaticlove.com/apple-touch-icon.png")
    link(rel="icon", type="image/png", href="https://s.chromaticlove.com/favicon.png")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    != css('style')
    != js('application')
    - if (app.settings.env == "development")
      != js("jquery.chromaticlove")
    - else
      script(src="https://s.chromaticlove.com/js/jquery.chromaticlove.js")


  body
    header.container
      .row
        .span12
          .page-header
            .row
              .span9
                h1
                  a(href="/") ChromaticLove
                  small= title
              .span3.header-link
                - if (current_user != null)
                  a(href="/logout") Logout
                - else
                  a(href="/auth/instagram") Login
    section.container.messages-holder
      != messages()
    section.maincontent.container!= body
    footer.container.footer
      .row
        .span6
          | Copyright &copy; #{new Date().getFullYear()}
          a(href="http://forchesoftware.com") Forche Software
          | /
          a(href="http://twitter.com/sujal") @sujal
        .span1.offset3.footer-link
          a(href="/docs") Docs
        .span1.footer-link
          a(href="/faq") FAQ
        .span1.footer-link
          a(href="/about") About

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-77378-12', 'auto');
      ga('send', 'pageview');

